.bodyEstilo {
    background-image: url(/images/lavela2.jpg);
    background-color: rgb(0,101,183, 0.5);
}

.estiloTextoh1 {
    color: white;
    font-style: bold;
}

.estiloTextoh2a {
    color: lightblue;
    background-color: LightGray;
    font-style: bold;

}

.bodyEstiloAlta {
    background-image: url(/images/lavela3.jpg);
    background-color: rgb(0,101,183, 0.5);
}


.google-map {
    height: 300px;
  }


.absolute {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
  }


.fixedtop {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
  }
