<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>

    <style>

      :host {
        display: block;
      }


    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


<div class="col-md-3 col-md-offset-3">
    <div class="row">
      <h3 class="col-md-12"> <p class="text-white">Login </h3> </p>
    </div>

    <input type="email" placeholder="Email" value="{{email::input}}">
    <pre></pre>
    <input type="password" placeholder="Password" value="{{pwd::input}}">
    <pre></pre>
    <div class="col-md-3 col-md-offset-3">
      <div class="row">
    <button type="button" class="btn btn-success btn-lg" on-click="login">Login</button>
    <span hidden$="{{!isLogged}}"></span>
    </div>
</div>
</div>

    </br></br></br></br>

    <div>
       <h3 class="col-md-12"> <strong>¿No tienes cuenta?</strong>
         <button class="btn btn-link">
           <a href="/alta" ><strong>Date de alta!</strong></a>
         </button>
       </h3>


     </div>





    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-json="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, email: {
            type: String
          }, pwd: {
            type: String
          }, isLogged: {
            type: Boolean,
            value : false
          }

        };
      }

      login() {
        console.log("El usuario ha pulsado el botonaco");
        var loginData = {
          "email" : this.email,
          "pwd" : this.pwd
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición Enviada");


      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
//       this.isLogged = true;
        window.location = "/user/" + data.detail.response.id;

      }

      showError(error) {
        console.log("Hubo un error");
        console.log(data.detail.response);
      }

    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
