<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>

      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Sus movimientos</h1>

    <button type="button" class="btn btn-warning btn-lg" on-click="hacermovimiento">Nuevo Movimiento</button>
    <input type="number" placeholder="Movimiento" value="{{amount::input}}">

    <div class="p-3 mb-2 bg-info text-white">

    <template is="dom-repeat" items="{{movements}}">

     <h3> Importe {{item.amount}} €</h3>
     </br>
   </template>
 </div>



    <iron-ajax
      auto=""
      ide="getMovements"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/{{idCuenta}}"
      handle-json="json"
      on-response="showData"
      >


      <iron-ajax
        id="doMovement"
        url="http://localhost:3000/apitechu/v2/altamov"
        content-type="application/json"
        method="POST"
        handle-json="json"
        on-response="manageAJAXResponse"
        on-error="showError"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
           IBAN: {
            type: String
          },  idCuenta: {
            type: Number
          }, amount: {
            type: Number
          }, movimiento: {
              type: Number
          }, movements: {
              type: Array
            }
        };
      }

      showData(data){
        console.log("Recibidos los datos de los movimientos");
        console.log(data.detail.response);
        console.log(data.detail.response.IBAN);
        console.log(data.detail.response.idCuenta);
        console.log(data.detail.response.amount);
        console.log(data.detail.response.movimiento);



        this.IBAN=data.detail.response[0].IBAN;
        this.idCuenta=data.detail.response[0].idCuenta;
        this.amount=data.detail.response.amount;
        this.movements=data.detail.response;
        }


        hacermovimiento() {
          console.log("El usuario ha pulsado el botonaco");
          var altaMov = {
            "iban" : this.IBAN,
            "id" : this.idCuenta,
            "amount" : this.amount
          };
          this.$.doMovement.body = JSON.stringify(altaMov);
          this.$.doMovement.generateRequest();
          console.log(altaMov);
          console.log("Petición Enviada");

        }

        manageAJAXResponse(data) {
          console.log("Recibida respuesta del servidor");
  //       this.isLogged = true;
  //        window.location = "/login";

        }

        showError(error) {
          console.log("Hubo un error");
  //        window.location = "/login";

        }


    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
