<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>

      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


      <h1>Sus cuentas</h1>
  <div class="p-3 mb-2 bg-info text-white">
      <template is="dom-repeat" items="{{accounts}}">
     <h2> <a href="/user/{{id}}/{{idCuenta}}"> {{item.IBAN}} </a> </h3>
     <h3>Saldo      {{item.balance}} €</h3>
<pr> </pr>

     </br>
   </div>

   </template>

<!--    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>   -->
<!--    <input type="text" value="{{first_name::input}}"/>  -->
<!--    <input type="range" min="18" value={{age::input}} max="70"/> -->

    <iron-ajax
      auto=""
      ide="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-json="json"
      on-response="showData"
      >

      <iron-ajax
        auto=""
        ide="getCambio"
        url="https://free.currencyconverterapi.com/api/v5/convert?q=USD_EUR&compact=y"
        handle-json="json"
        last-response="{{response}}"
        on-response="showCambio"
        >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          user_id: {
            type: Number
          }, IBAN: {
            type: String
          }, idCuenta: {
            type: Number
          }, balance: {
            type: Number
          }, change: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }





      showData(data){
        console.log("Recibidos los datos de la cuenta");
        console.log(data.detail.response);
        console.log(data.detail.response.user_id);
        console.log(data.detail.response.IBAN);
        console.log(data.detail.response.idCuenta);
        console.log(data.detail.response.balance);
        console.log(this.change);



        console.log("Pruebalog");

        console.log(data.detail.response[0].user_id);

        this.id=data.detail.response[0].user_id;
        this.IBAN=data.detail.response.IBAN;

// ESTO HAY QUE CAMBIARLO Y METER UNA VARIABLE PERO LO HACE BIEN. TE DIRIJE BIEN A LA PAGINA
        this.idCuenta=data.detail.response[0].idCuenta;
        this.balance=data.detail.response.balance;
        this.accounts=data.detail.response;
      }

      showCambio(camb) {
      console.log("Petición Cambio Enviada");
      console.log(camb.detail.response);
      console.log(camb.detail.response["USD_EUR"].val);
      this.change=camb.detail.response["USD_EUR"].val;
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
