<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>

      :host {
        display: block;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12 "> Hola {{first_name}} {{last_name}}</h1>
      <pre></pre>

      <pre>   <button type="button" class="btn btn-warning">
        <a href="/user/{{id}}/cuentas"> Mis cuentas </a>
      </button> </pre>
    </div>


    <div class="sticky-top">  <button type="button" class="btn btn-danger btn-lg" on-click="logout">Logout</button><br>

</div>
<base href="https://raw-dot-custom-elements.appspot.com/GoogleWebComponents/google-map/v2.0.5/google-map/">
<script src="../webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="google-map.html">
<style>
  google-map {
    height: 200px;
    width: 50%;
    margin: auto;
    align: center;
  }
</style>
<google-map>
  <google-map-marker latitude="40.50" longitude="-3.66" draggable="true"></google-map-marker>
</google-map>

<div>

 <!--  <google-map fit-to-markers api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
  <google-map-marker latitude="37.78" longitude="-122.4" draggable="true"></google-map-marker>
</google-map>
-->

</div>



<div class="fixed-bottom">

<div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">Tipos de cambio</li>
        <li class="list-group-item list-group-item-info">EUR - USD  &nbsp; &nbsp; &nbsp;    {{changeusd}}</li>
        <li class="list-group-item list-group-item-info">EUR - MXN  &nbsp; &nbsp; &nbsp;    {{changemxn}}</li>
        <li class="list-group-item list-group-item-info">EUR - GBP  &nbsp; &nbsp; &nbsp;    {{changegbp}}</li>
      </ul>

      </div>
</div>





<!--    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>   -->
<!--    <input type="text" value="{{first_name::input}}"/>  -->
<!--    <input type="range" min="18" value={{age::input}} max="70"/> -->

    <iron-ajax
      auto=""
      ide="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-json="json"
      on-response="showData"
      >

      <iron-ajax
        id="doLogout"
        url="http://localhost:3000/apitechu/v2/logout"
        content-type="application/json"
        method="POST"
        handle-json="json"
        on-response="manageAJAXResponse"
        on-error="showError"
      >

      <iron-ajax
        auto=""
        ide="getCambioUSD"
        url="https://free.currencyconverterapi.com/api/v5/convert?q=EUR_USD&compact=y"
        handle-json="json"
        last-response="{{response}}"
        on-response="showCambioUSD"
        >

        <iron-ajax
          auto=""
          ide="getCambioMXN"
          url="https://free.currencyconverterapi.com/api/v5/convert?q=EUR_MXN&compact=y"
          handle-json="json"
          last-response="{{response}}"
          on-response="showCambioMXN"
          >
          <iron-ajax
            auto=""
            ide="getCambioGBP"
            url="https://free.currencyconverterapi.com/api/v5/convert?q=EUR_GBP&compact=y"
            handle-json="json"
            last-response="{{response}}"
            on-response="showCambioGBP"
            >


  </template>

  <script>


    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, id: {
            type: Number
          }, email: {
            type: String
          }
        };
      }




      showData(data){
        console.log("Recibidos los datos del usuario");
        console.log(data.detail.response[0]);
        console.log(data.detail.response[0].id);
        console.log(data.detail.response[0].first_name);
        console.log(data.detail.response[0].last_name);
        console.log(data.detail.response[0].email);

        this.id=data.detail.response[0].id;
        this.first_name=data.detail.response[0].first_name;
        this.last_name=data.detail.response[0].last_name;
        this.email=data.detail.response[0].email;
        }

        logout() {
          console.log("El usuario ha pulsado el botonaco logout");
          var logoutData = {
            "id" : this.id
          };
          this.$.doLogout.body = JSON.stringify(logoutData);
          this.$.doLogout.generateRequest();
          console.log("Petición Enviada");
          }

      showCambioUSD(cambusd) {
      console.log("Petición Cambio Enviada");
      console.log(cambusd.detail.response);
      console.log(cambusd.detail.response["EUR_USD"].val);
      this.changeusd=cambusd.detail.response["EUR_USD"].val;
      }

      showCambioMXN(cambmxn) {
      console.log("Petición Cambio Enviada");
      console.log(cambmxn.detail.response);
      console.log(cambmxn.detail.response["EUR_MXN"].val);
      this.changemxn=cambmxn.detail.response["EUR_MXN"].val;
      }

      showCambioGBP(cambgbp) {
      console.log("Petición Cambio Enviada");
      console.log(cambgbp.detail.response);
      console.log(cambgbp.detail.response["EUR_GBP"].val);
      this.changegbp=cambgbp.detail.response["EUR_GBP"].val;
      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");

        window.location = "/login" ;

      }

      showError(error) {
        console.log("Hubo un error");
        window.location = "/login" ;

      }


    }



    window.customElements.define(VisorUsuario.is, VisorUsuario);



  </script>



</dom-module>
