<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">


<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <h1>Soy el gestor de eventos</h1>
     <emisor-evento on-myevent="processEvent"></emisor-evento>
     <receptor-evento id="receiver"></receptor-evento>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
    class gestorEvento extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
       };
     }

     processEvent(e) {
       console.log("capturado evento emisor");
       console.log(e);
  //     this.$.receiver.showData(e.detail);  // Esto se puede usar pero no es recomendable
        this.$.receiver.course = e.detail.course;
        this.$.receiver.year = e.detail.year;
     }
   }

   window.customElements.define(gestorEvento.is, gestorEvento);
 </script>
</dom-module>
