<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<dom-module id="alta-usuario">
  <template>

    <style>

    :host {
      display: block;
    }



    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css">

    <!-- Website Font style -->
  	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


     <div class="mx-auto" style="width: 200px;">


      <div class="container">
      			<div class="row main">
      				<div class="panel-heading">
      	               <div class="panel-title text-center">
      	               		<hr />
      	               	</div>
      	            </div>
      				<div class="main-login main-center">
      					<form class="form-horizontal" method="post" action="#">

    						<div class="form-group">
    							<label for="nombre" class="cols-sm-2 control-label">Nombre</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    									<input type="nombre" placeholder="Introduce tu nombre" value="{{nombre::input}}"></br>
    								</div>
    							</div>
    						</div>

                <div class="form-group">
    							<label for="apellido" class="cols-sm-2 control-label">Apellido</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    									<input type="apellido" placeholder="Introduce tu apellido" value="{{apellido::input}}"></br>
    								</div>
    							</div>
    						</div>

                <div class="form-group">
    							<label for="email" class="cols-sm-2 control-label">Email</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
    									<input type="email" placeholder="Introduce tu email" value="{{email::input}}"></br>
    								</div>
    							</div>
    						</div>

                <div class="form-group">
    							<label for="pwd" class="cols-sm-2 control-label">Password</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
    									<input type="password" placeholder="Introduce tu contraseña" value="{{pwd::input}}"></br>
    								</div>
    							</div>
    						</div>

                <div class="form-group ">
            <button type="button" class="btn btn-primary btn-lg btn-block login-button"on-click="alta">Alta</button>
            <div class="login-register">
            				            <a href="index.php">Login</a>
            				         </div>
                           </form>
                           				</div>
                           			</div>
                           		</div>
                            </div>

  </div>




    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/apitechu/v2/alta"
      content-type="application/json"
      method="POST"
      handle-json="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, nombre: {
            type: String
          },apellido: {
            type: String
          },email: {
            type: String
          }, pwd: {
            type: String
          }, isLogged: {
            type: Boolean,
            value : false
          }

        };
      }

      alta() {
        console.log("El usuario ha pulsado el botonaco");
        var altaData = {
          "nombre" : this.nombre,
          "apellido" : this.apellido,
          "email" : this.email,
          "pwd" : this.pwd
        };
        this.$.doAlta.body = JSON.stringify(altaData);
        this.$.doAlta.generateRequest();
        console.log("Petición Enviada");

      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");
//       this.isLogged = true;
        window.location = "/login";

      }

      showError(error) {
        console.log("Hubo un error");
        window.location = "/login";

      }

    }


    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
